button[hidden] {
    display: none !important;
}

button[disabled] {
    opacity: 0.6;
    pointer-events: none;
    filter: grayscale(0.8);
}
textarea.code {
    font-family: "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

textarea.snippet {
    width: 100%;
    min-height: 10em;
    resize: vertical;
}

.block {
    display: block;
}

.mb-1 {
    margin-bottom: 1ex;
}

strong.experimental {
    color: red;
}

.importDlg-error {
    display: none;
}

.importDlg.error .importDlg-error {
    display: block;
}