.toolbarButtons {
    display: inline-block;
}

.action-media {
    opacity: 0.6;
    pointer-events: none;
}
[data-story-format="SugarCube"] .action-media {
    opacity: 1;
    pointer-events: auto;
}