.tags .aliceblue, .passageTags .aliceblue { background-color: aliceblue; }
.tags .antiquewhite, .passageTags .antiquewhite { background-color: antiquewhite; }
.tags .aqua, .passageTags .aqua { background-color: aqua; }
.tags .aquamarine, .passageTags .aquamarine { background-color: aquamarine; }
.tags .azure, .passageTags .azure { background-color: azure; }
.tags .beige, .passageTags .beige { background-color: beige; }
.tags .bisque, .passageTags .bisque { background-color: bisque; }
.tags .black, .passageTags .black { background-color: black; }
.tags .blanchedalmond, .passageTags .blanchedalmond { background-color: blanchedalmond; }
.tags .blue, .passageTags .blue { background-color: blue; }
.tags .blueviolet, .passageTags .blueviolet { background-color: blueviolet; }
.tags .brown, .passageTags .brown { background-color: brown; }
.tags .burlywood, .passageTags .burlywood { background-color: burlywood; }
.tags .cadetblue, .passageTags .cadetblue { background-color: cadetblue; }
.tags .chartreuse, .passageTags .chartreuse { background-color: chartreuse; }
.tags .chocolate, .passageTags .chocolate { background-color: chocolate; }
.tags .coral, .passageTags .coral { background-color: coral; }
.tags .cornflowerblue, .passageTags .cornflowerblue { background-color: cornflowerblue; }
.tags .cornsilk, .passageTags .cornsilk { background-color: cornsilk; }
.tags .crimson, .passageTags .crimson { background-color: crimson; }
.tags .cyan, .passageTags .cyan { background-color: cyan; }
.tags .darkblue, .passageTags .darkblue { background-color: darkblue; }
.tags .darkcyan, .passageTags .darkcyan { background-color: darkcyan; }
.tags .darkgoldenrod, .passageTags .darkgoldenrod { background-color: darkgoldenrod; }
.tags .darkgray, .passageTags .darkgray { background-color: darkgray; }
.tags .darkgrey, .passageTags .darkgrey { background-color: darkgrey; }
.tags .darkgreen, .passageTags .darkgreen { background-color: darkgreen; }
.tags .darkkhaki, .passageTags .darkkhaki { background-color: darkkhaki; }
.tags .darkmagenta, .passageTags .darkmagenta { background-color: darkmagenta; }
.tags .darkolivegreen, .passageTags .darkolivegreen { background-color: darkolivegreen; }
.tags .darkorange, .passageTags .darkorange { background-color: darkorange; }
.tags .darkorchid, .passageTags .darkorchid { background-color: darkorchid; }
.tags .darkred, .passageTags .darkred { background-color: darkred; }
.tags .darksalmon, .passageTags .darksalmon { background-color: darksalmon; }
.tags .darkseagreen, .passageTags .darkseagreen { background-color: darkseagreen; }
.tags .darkslateblue, .passageTags .darkslateblue { background-color: darkslateblue; }
.tags .darkslategray, .passageTags .darkslategray { background-color: darkslategray; }
.tags .darkslategrey, .passageTags .darkslategrey { background-color: darkslategrey; }
.tags .darkturquoise, .passageTags .darkturquoise { background-color: darkturquoise; }
.tags .darkviolet, .passageTags .darkviolet { background-color: darkviolet; }
.tags .deeppink, .passageTags .deeppink { background-color: deeppink; }
.tags .deepskyblue, .passageTags .deepskyblue { background-color: deepskyblue; }
.tags .dimgray, .passageTags .dimgray { background-color: dimgray; }
.tags .dimgrey, .passageTags .dimgrey { background-color: dimgrey; }
.tags .dodgerblue, .passageTags .dodgerblue { background-color: dodgerblue; }
.tags .firebrick, .passageTags .firebrick { background-color: firebrick; }
.tags .floralwhite, .passageTags .floralwhite { background-color: floralwhite; }
.tags .forestgreen, .passageTags .forestgreen { background-color: forestgreen; }
.tags .fuchsia, .passageTags .fuchsia { background-color: fuchsia; }
.tags .gainsboro, .passageTags .gainsboro { background-color: gainsboro; }
.tags .ghostwhite, .passageTags .ghostwhite { background-color: ghostwhite; }
.tags .gold, .passageTags .gold { background-color: gold; }
.tags .goldenrod, .passageTags .goldenrod { background-color: goldenrod; }
.tags .gray, .passageTags .gray { background-color: gray; }
.tags .grey, .passageTags .grey { background-color: grey; }
.tags .green, .passageTags .green { background-color: green; }
.tags .greenyellow, .passageTags .greenyellow { background-color: greenyellow; }
.tags .honeydew, .passageTags .honeydew { background-color: honeydew; }
.tags .hotpink, .passageTags .hotpink { background-color: hotpink; }
.tags .indianred, .passageTags .indianred {background-color: indianred; }
.tags .indigo, .passageTags .indigo { background-color: indigo; }
.tags .ivory, .passageTags .ivory { background-color: ivory; }
.tags .khaki, .passageTags .khaki { background-color: khaki; }
.tags .lavender, .passageTags .lavender { background-color: lavender; }
.tags .lavenderblush, .passageTags .lavenderblush { background-color: lavenderblush; }
.tags .lawngreen, .passageTags .lawngreen { background-color: lawngreen; }
.tags .lemonchiffon, .passageTags .lemonchiffon { background-color: lemonchiffon; }
.tags .lightblue, .passageTags .lightblue { background-color: lightblue; }
.tags .lightcoral, .passageTags .lightcoral { background-color: lightcoral; }
.tags .lightcyan, .passageTags .lightcyan { background-color: lightcyan; }
.tags .lightgoldenrodyellow, .passageTags .lightgoldenrodyellow { background-color: lightgoldenrodyellow; }
.tags .lightgray, .passageTags .lightgray { background-color: lightgray; }
.tags .lightgrey, .passageTags .lightgrey { background-color: lightgrey; }
.tags .lightgreen, .passageTags .lightgreen { background-color: lightgreen; }
.tags .lightpink, .passageTags .lightpink { background-color: lightpink; }
.tags .lightsalmon, .passageTags .lightsalmon { background-color: lightsalmon; }
.tags .lightseagreen, .passageTags .lightseagreen { background-color: lightseagreen; }
.tags .lightskyblue, .passageTags .lightskyblue { background-color: lightskyblue; }
.tags .lightslategray, .passageTags .lightslategray { background-color: lightslategray; }
.tags .lightslategrey, .passageTags .lightslategrey { background-color: lightslategrey; }
.tags .lightsteelblue, .passageTags .lightsteelblue { background-color: lightsteelblue; }
.tags .lightyellow, .passageTags .lightyellow { background-color: lightyellow; }
.tags .lime, .passageTags .lime { background-color: lime; }
.tags .limegreen, .passageTags .limegreen { background-color: limegreen; }
.tags .linen, .passageTags .linen { background-color: linen; }
.tags .magenta, .passageTags .magenta { background-color: magenta; }
.tags .maroon, .passageTags .maroon { background-color: maroon; }
.tags .mediumaquamarine, .passageTags .mediumaquamarine { background-color: mediumaquamarine; }
.tags .mediumblue, .passageTags .mediumblue { background-color: mediumblue; }
.tags .mediumorchid, .passageTags .mediumorchid { background-color: mediumorchid; }
.tags .mediumpurple, .passageTags .mediumpurple { background-color: mediumpurple; }
.tags .mediumseagreen, .passageTags .mediumseagreen { background-color: mediumseagreen; }
.tags .mediumslateblue, .passageTags .mediumslateblue { background-color: mediumslateblue; }
.tags .mediumspringgreen, .passageTags .mediumspringgreen { background-color: mediumspringgreen; }
.tags .mediumturquoise, .passageTags .mediumturquoise { background-color: mediumturquoise; }
.tags .mediumvioletred, .passageTags .mediumvioletred { background-color: mediumvioletred; }
.tags .midnightblue, .passageTags .midnightblue { background-color: midnightblue; }
.tags .mintcream, .passageTags .mintcream { background-color: mintcream; }
.tags .mistyrose, .passageTags .mistyrose { background-color: mistyrose; }
.tags .moccasin, .passageTags .moccasin { background-color: moccasin; }
.tags .navajowhite, .passageTags .navajowhite { background-color: navajowhite; }
.tags .navy, .passageTags .navy { background-color: navy; }
.tags .oldlace, .passageTags .oldlace { background-color: oldlace; }
.tags .olive, .passageTags .olive { background-color: olive; }
.tags .olivedrab, .passageTags .olivedrab { background-color: olivedrab; }
.tags .orange, .passageTags .orange { background-color: orange; }
.tags .orangered, .passageTags .orangered { background-color: orangered; }
.tags .orchid, .passageTags .orchid { background-color: orchid; }
.tags .palegoldenrod, .passageTags .palegoldenrod { background-color: palegoldenrod; }
.tags .palegreen, .passageTags .palegreen { background-color: palegreen; }
.tags .paleturquoise, .passageTags .paleturquoise { background-color: paleturquoise; }
.tags .palevioletred, .passageTags .palevioletred { background-color: palevioletred; }
.tags .papayawhip, .passageTags .papayawhip { background-color: papayawhip; }
.tags .peachpuff, .passageTags .peachpuff { background-color: peachpuff; }
.tags .peru, .passageTags .peru { background-color: peru; }
.tags .pink, .passageTags .pink { background-color: pink; }
.tags .plum, .passageTags .plum { background-color: plum; }
.tags .powderblue, .passageTags .powderblue { background-color: powderblue; }
.tags .purple, .passageTags .purple { background-color: purple; }
.tags .rebeccapurple, .passageTags .rebeccapurple { background-color: rebeccapurple; }
.tags .red, .passageTags .red { background-color: red; }
.tags .rosybrown, .passageTags .rosybrown { background-color: rosybrown; }
.tags .royalblue, .passageTags .royalblue { background-color: royalblue; }
.tags .saddlebrown, .passageTags .saddlebrown { background-color: saddlebrown; }
.tags .salmon, .passageTags .salmon { background-color: salmon; }
.tags .sandybrown, .passageTags .sandybrown { background-color: sandybrown; }
.tags .seagreen, .passageTags .seagreen { background-color: seagreen; }
.tags .seashell, .passageTags .seashell { background-color: seashell; }
.tags .sienna, .passageTags .sienna { background-color: sienna; }
.tags .silver, .passageTags .silver { background-color: silver; }
.tags .skyblue, .passageTags .skyblue { background-color: skyblue; }
.tags .slateblue, .passageTags .slateblue { background-color: slateblue; }
.tags .slategray, .passageTags .slategray { background-color: slategray; }
.tags .slategrey, .passageTags .slategrey { background-color: slategrey; }
.tags .snow, .passageTags .snow { background-color: snow; }
.tags .springgreen, .passageTags .springgreen { background-color: springgreen; }
.tags .steelblue, .passageTags .steelblue { background-color: steelblue; }
.tags .tan, .passageTags .tan { background-color: tan; }
.tags .teal, .passageTags .teal { background-color: teal; }
.tags .thistle, .passageTags .thistle { background-color: thistle; }
.tags .tomato, .passageTags .tomato { background-color: tomato; }
.tags .turquoise, .passageTags .turquoise { background-color: turquoise; }
.tags .violet, .passageTags .violet { background-color: violet; }
.tags .wheat, .passageTags .wheat { background-color: wheat; }
.tags .white, .passageTags .white { background-color: white; }
.tags .whitesmoke, .passageTags .whitesmoke { background-color: whitesmoke; }
.tags .yellow, .passageTags .yellow { background-color: yellow; }
.tags .yellowgreen, .passageTags .yellowgreen { background-color: yellowgreen; }