body {
    min-width: 600px;
}

form fieldset {
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 1ex;
}

label {
    display: block;
    margin-left: 0.5em;
    height: 25px;
}

label input[type="checkbox"] {
    margin-right: 0.2em;
}

.saveStatus {
    opacity: 0;
    color: darkgreen;
    transition: 150ms opacity linear;
}
.saveStatus.show {
    opacity: 1;
    transition: 150ms opacity linear;
}

.shortcutGrid {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.shortcutGrid th {
    text-align: left;
}

.shortcutGrid tr.shortcutItem:hover {
    background-color: #f2f2f2;
}

.shortcutGrid tr.shortcutItem.noButton input[type="checkbox"] {
    display: none;
}